:root {
    --bg-color: #ebe6e0;
    --text-color: #4c7766;
    --accent-color: antiquewhite;
    --nav-bg: #4c7766;
    --toggle: #E0F2E9;
    --profile-ridge-a: #b0ada8;
    --profile-ridge-b: #ffffff;
    --but-bg: antiquewhite; 
    --but-hover: #3a5d4f;
    --border:antiquewhite;
    --nav-link:#ebe6e0;
    --xc: #91d7bb;
  }
  
  .dark-mode {
    --bg-color: #0D1B1E ;
    --text-color: #E0F2E9;
    --accent-color: #64FFDA;
    --nav-bg: #036757;
    --toggle: #1B3A2D;
    --profile-ridge-a: #0d0d0d;
    --profile-ridge-b: #26332e;
    --but-bg:#E0F2E9;
    --but-hover:#2E7D32;
    --nav-link:linear-gradient(to right, #92f1c1, #8ce2ff);
    --border:#91d7bb;
    --xc:#E0F2E9;
  }  

html, body {
    height: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background 0.3s, color 0.3s;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-behavior: smooth;
}
  
  body.dark-mode a {
    color: #92f1c1; 
  }
  
  body.dark-mode .secondary-text {
    color: #8892b0; 
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 3px;
    margin-bottom: 3px;
    mix-blend-mode: overlay; 
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #1B3A2D;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #E0F2E9; 
    box-shadow: 0 0 8px #66BB6A;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg);
}
.nav-item {
    display: flex;
    gap: 25px;
}
.nav-button {
    background-color: var(--nav-bg);
    border-width: 0;
    padding-left: 1px;
    padding-right: 1px;
}
.nav-button:hover {
    text-decoration: none;
    color: #ebe6e0;
    border-width: 1px;
    border-color: aquamarine;
}
.nav-link:hover {
    text-decoration: none;
    color: var(--accent-color);
    transform: scale(1.05);
}
.nav-link {
    padding: auto;
    color: aliceblue;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
    font-family: 'Montserrat', sans-serif;
}
.nav-name {
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-weight: 100;
    font-size: 30px;
    font-family: 'Cinzel', serif;
    /* color:var(--nav-link); */
    background: var(--nav-link);
    -webkit-background-clip: text;
    color: transparent;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.nav-toggle-label span {
    background-color: #ebe6e0;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    transition: transform 0.3s;
}

.logo {
    color: #ebe6e0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
}
.logo img{
    width: 50px;
    height: auto;
    padding-left: 10px;
    animation: blur-glow 5s infinite linear;
    mix-blend-mode:overlay; 
    border-radius: 100px;
}
@keyframes blur-glow {
    30% { filter: blur(3px) drop-shadow(0 0 12px #CFA3FF); }
    50% { filter: blur(2px) drop-shadow(0 0 14px #CFA3FF); } 
    70% { filter: blur(3px) drop-shadow(0 0 12px #CFA3FF); } 
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background: var(--bg-color);
    color: var(--text-color);
}

.name {
    font-size: 70px;
    color:var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.name-2 {
    font-size: 50px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

/*responsive?/*/

.subtitle {
    font-size: 35px;
    font-weight: 300;
    font-family:'Poppins', sans-serif;
    color:var(--text-color);
    padding-bottom: 40px;
    animation: changeWords 20s infinite;
    opacity: 0;
    position: absolute;
}

.heads{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
}

.subtitle:nth-child(1) {
    animation-delay: 0s;
}
.subtitle:nth-child(2) {
    animation-delay: 4s;
}
.subtitle:nth-child(3) {
    animation-delay: 8s;
}
.subtitle:nth-child(4) {
    animation-delay: 12s;
}
.subtitle:nth-child(5) {
    animation-delay: 16s;
}
@keyframes changeWords {
    0%, 25%{
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
  }
.name .letter {
    display: inline-block;
    opacity: 0;
    animation: scroll-in 0.5s forwards;
}

@keyframes scroll-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.name .letter:nth-child(1) { animation-delay: 0s; }
.name .letter:nth-child(2) { animation-delay: 0.1s; }
.name .letter:nth-child(3) { animation-delay: 0.2s; }
.name .letter:nth-child(4) { animation-delay: 0.3s; }
.name .letter:nth-child(5) { animation-delay: 0.4s; }
.name .letter:nth-child(6) { animation-delay: 0.5s; }
.name .letter:nth-child(7) { animation-delay: 0.6s; }
.name .letter:nth-child(8) { animation-delay: 0.7s; }
.name .letter:nth-child(9) { animation-delay: 0.8s; }
.name .letter:nth-child(10) { animation-delay: 0.9s; }
.name .letter:nth-child(11) { animation-delay: 1s; }

.social-button, .my-works {
    display: flex;
    align-items: center;
    background-color: var(--nav-bg);
    color: white;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    transition: transform 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
}
.social-button:hover, .my-works:hover {
    background-color: var(--but-hover);
    transform: translateY(-5px);  
    cursor: pointer;
}
.social-button .social-text, .my-works .resume {
    margin-left: 10px;
}
.social-button i, .my-works i {
    font-size: 24px;
    margin-right: 8px; 
}
.social-text {
    font-size: 16px; 
}
.social-link {
    text-decoration: none;
}
.social-button i, .my-works i {
    font-size: 24px; 
    margin-right: 10px;
}
.scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    background-color: var(--bg-color);
    padding-bottom: 60px;
}
.scroll-down {
    width: 25px;
    height: 50px;
    background-color: var(--bg-color);
    border-radius: 20px;
    border-width: 5px;
    border-color: var(--nav-bg);
    border-style:ridge;
    box-shadow: 0px 0px 2px var(--accent-color), 0 0 4px var(--accent-color), 0 0 8px var(--accent-color), 0 0 16px var(--accent-color);
    animation: moveUpDown 2s infinite;
}

.scroll-down-ball {
    width: 15px;
    height: 15px;
    background-color: var(--bg-color);
    border-radius: 50px;
    border-width: 6px;
    border-color: var(--nav-bg);
    border-style:ridge;
    position: absolute;
    left: 7.5px;
    bottom: 10px;
    animation: moveUpDown 2s infinite; /*copy this styling for all sizes*/
}
@keyframes ballZoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
  .scroll-down-ball.clicked {
    animation: ballZoom 0.5s forwards;
  }
  
.img {
    height: auto;
    width: auto;
    max-height: max-content;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.social{
    display: flex;
    gap:30px;
}
.experience-section {
    background-color: var(--bg-color);
    padding: 50px 20px;
    text-align: center;
}

.experience-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 50px;
    text-transform: uppercase;
}

.timeline {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    max-width: 900px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: #345142;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    width: 50%;
    text-align: left;
}

.timeline-item:nth-child(odd) {
    left: 0;
}

.timeline-item:nth-child(even) {
    left: 50%;
    text-align: right;
}

.timeline-item::after {
    content: '';
    position: absolute;
    top: 15px;
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    background-color: #ebe6e0;
    border: 4px solid #8bb4a3;
    border-radius: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.timeline-content {
    position: relative;
    background-color: var(--nav-bg);
    color: var(--text-color);
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 2;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-left: 20px;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-right: 20px;
}



.timeline-item:nth-child(even) .timeline-header h3 {
    text-align: right;
}

.timeline-content:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.timeline-role {
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 10px;
    color: #91d7bb;
}

.comp {
    color: var(--xc);
}

.timeline-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    justify-content: flex-start;
}

.timeline-logo {
    width: 65px;
    height: 65px;
    object-fit: contain;
    background-color: transparent;
    flex-shrink: 0;
    border: 2px solid #91d7bb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline-logo-b {
    width: 65px;
    height: 65px;
    object-fit: contain;
    background-color: transparent;
    flex-shrink: 0;
    margin-right: 10px;
    border: 2px solid #91d7bb;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.timeline-item:nth-child(even) .timeline-logo {
    margin-right: 10px; 
}

.timeline-item:nth-child(odd) .timeline-logo-b {
    margin-left: 45px; 
}

.timeline-logo img, .timeline-logo-b img {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.timeline-dates {
    font-size: 0.9rem;
    color: #ebe6e0;
    font-weight: 600;
    margin-bottom: 15px;
}

.timeline-details {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    color: #ebe6e0;
}
.tech-skills {
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    padding-top: 100px;
}
.lang-but {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid var(--nav-bg); 
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, transform 0.3s ease, box-shadow 0.3s ease; 
}
.lang-but:hover {
    background-color: var(--but-bg); 
    cursor: pointer; 
    transform: scale(1.1); 
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1); 
}
.lang-name {
    color: var(--text-color);
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.3s ease; 
}
.lang-but:hover + .lang-name {
    color: #25b079; 
}
.langs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    transition: transform 0.3s ease; 
}
.langs:hover {
    transform: scale(1.05); 
}
.vert-line {
    height: 310px;
    width: 2px;
    background-color: turquoise;
}

.heading-about {
    color: #ebe6e0;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 130px;
}

.heading {
    color: #4c7766;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 130px;
}

.image {
    position: relative;
    width: 100%;
    margin: auto;
}

.image .fore {
    position: relative;
    border-radius: 10%;
    background: linear-gradient(145deg, #fbf6f0, #d4cfca);
    box-shadow: 10px 10px 30px var(--profile-ridge-a), -10px -10px 30px var(--profile-ridge-b);
}
.image .fore::before {
    content: '';
    position: absolute;
    top: -15px; left: -15px;
    bottom: -15px; right: -15px;
    border: 15px solid #d4cfca;
    border-radius: inherit;
    z-index: -1; 
    box-shadow: inset 5px 5px 10px #b0ada8, inset -5px -5px 10px #ffffff;
}
.proj {
    background: var(--bg-color);
    padding-top: 90px;
}

.project-item {
    border-radius: 10%;
    border: 2px solid var(--border);
    background-color: var(--nav-bg);
    color: #ebe6e0;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative; 
    padding-right:10px;
}

.proj-title {
    padding-bottom: 20px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 1.25rem;
    margin-bottom: 15px;
}
.fab {
    text-decoration: none;
}
.proj-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--but-bg);
    border-radius: 50%;
    border-color: var(--nav-bg);
    width: 60px;
    height: 60px;
    margin-inline: 10px;
    border-width: 5px;
    font-size: 40px;
    position: relative;
    opacity: 0;
}
.proj-box i {
    color: #4c7766; 
    margin-right: 0px;
}
.proj-box:hover {
    background-color: rgb(208, 189, 164);
}

.proj-img {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid #6fac94;
    border-radius: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.proj-link:hover .proj-box {
    opacity: 1;
}

.project-item:hover .proj-box {
    opacity: 1;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.6 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );   
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: aliceblue;
    font-weight: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.project-item:hover .hover-content {
    opacity: 1;
}

.hover-material:hover {
    display: block;
}

.contact {
    background-color: var(--bg-color);
    padding-bottom: 100px;
    padding-top: 200px;
}

.contact-form {
    border-radius: 10%;
    border: 2px solid var(--border);
    background-color: var(--nav-bg);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.hidden {
    display: none;
}

.description-toggle {
    background-color: var(--nav-bg);
    color: var(--xc);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.description-toggle:hover {
    background-color: var(--but-hover);
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #72a28f;
    color: #1a341a;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #1a341a;
}

.contact-form button {
    background-color: #52a552;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #4cae4c;
    box-shadow: 0px 0px 2px #4cae4c, 0 0 4px #4cae4c, 0 0 8px #4cae4c, 0 0 16px #4cae4c;
}

#name, #email, #message {
    color: var(--xc);
}


.end {
    background-color: var(--nav-bg);
    color: #4c7766;
}

.end-line {
    height: 2px;
    margin: 3px 0;
    color: var(--border);
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateX(-50%) translateY(10px);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

@media (max-width: 1199px) {
    .vert-line {
        height: 350px;
        width: 2px;
        background-color: antiquewhite;
    }
    .heading {
        color: #4c7766;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 150px;
    }
}

@media (max-width: 991px) {
    
    .image .fore {
        position: absolute;
        top: -130px;
        left: 5px;
        z-index: 2;
    }
    .scroll-down-ball {
        position: absolute;
        left: 7px;
        animation: moveUpDown 2s infinite;
    }
    .heading {
        color: #4c7766;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 200px;
    }
    .proj-img.col-md-12 {
        padding-top: 15px;
        border: 2px solid #4a6469;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
    }
}

@media (max-width: 768px) {
    .nav-item {
        display: none; 
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: #4c7766;
        padding: 20px 0;
        position: absolute;
        top: 70px; 
        left: 0;
        right: 0;
        z-index: 10;
    }
    .nav-item.active {
        display: flex; 
    }
    .nav-toggle-label {
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }
    .nav-toggle-label span {
        background-color: #ebe6e0;
        width: 25px;
        height: 3px;
        margin-bottom: 5px;
        transition: transform 0.3s;
    }
    .nav-toggle:checked + .nav-toggle-label span:nth-child(1) {
        transform: rotate(45deg) translateY(7px);
    }
    .nav-toggle:checked + .nav-toggle-label span:nth-child(2) {
        opacity: 0;
    }
    .nav-toggle:checked + .nav-toggle-label span:nth-child(3) {
        transform: rotate(-45deg) translateY(-7px);
    }
    .scroll-down {
        position: absolute;
        right: 40px;
        bottom: 10px;
        animation: moveUpDown 2s infinite;
        width: 17px;
        height: 40px;
    }
    .scroll-down-ball {
        position: absolute;
        left: 6px;
        bottom: 10px;
        animation: moveUpDown 2s infinite;
        width: 11px;
        height: 11px;
    }
    /* ... */
    .image .fore {
        position: absolute;
        top: -110px;
        left: 45px;
        z-index: 2;
    }
    .nav-item {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #4c7766;
        flex-direction: column;
        align-items: center;
        display: none;
        z-index: 999;
        border-style: dotted;
        border-color: antiquewhite;
        border-width: 1px;
    }
    .nav-toggle:checked ~ .nav-item {
        display: flex;
    }
    .nav-item button {
        width: 100%;
    }
    .nav-toggle:checked + .nav-toggle-label + .nav-item {
        display: flex;
    }
    .nav-toggle-label {
        display: flex;
        padding-right: 20px;
        padding-top: 10px;
    }
    .vert-line {
        display: none;
    }
    .heading {
        color: #4c7766;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 80px;
    }
    .about-text {
        padding-top: 20px;
        text-align: center;
    }
    .proj-img.col-md-12 {
        padding-top: 85px;
        border: 2px solid #4a6469;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 55%;
    }
    .proj-row {
        gap: 20px;
    }
    .proj-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
        border-radius: 50%;
        border-color: aquamarine;
        width: 60px;
        height: 60px;
        margin-inline: 10px;
        border-width: 5px;
        font-size: 40px;
        margin-bottom: 10px;
    }
    .project-item .row {
        margin-left: 5px; 
    }
    .proj{
        margin-left:10px;
    }
    .proj-link {
        display: block;
        width: 60px;
        height: 60px;
    }
    .langs{
        margin-left: 0px;
    }
    .timeline::before {
        left: 10px; 
    }
    .timeline-item {
        width: 100%; 
        margin-left: 20px; 
        margin-bottom: 30px; 
    }
    .timeline-item:nth-child(odd),
    .timeline-item:nth-child(even) {
        left: 0; 
        text-align: left; 
    }
    .timeline-item::after {
        left: 10px; 
        transform: translateX(0); 
    }
    .timeline-content {
        margin: 0 0 0 40px; 
        padding: 20px; 
        width: calc(100% - 50px); 
    }
    .social-button, .my-works {
        font-size: 14px; 
        padding: 8px 16px;
    }
    .social-button i, .my-works i {
        font-size: 18px; 
    }
    .button-container{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .social{
        display: flex;
    }
    .intro{
        padding-top: 80px;
    }
    .name{
        font-size: 60px;
    }
    .name-2{
        font-size: 40px;
    }
}

@media (max-width: 480px) {
    .timeline-content {
        margin: 0 0 0 30px; 
        font-size: 0.9rem; 
    }
    .timeline-dates,
    .timeline-details {
        font-size: 0.8rem; 
    }
    .timeline-logo {
        width: 40px; 
        height: 40px;
    }
}

@media (max-width: 425px) {
    .nav-item{
        width: 100%;
    }
    .image {
        display: none;
    }
    .scroll{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
    .scroll-down {
        position:absolute;
        box-shadow: 0px 0px 2px antiquewhite, 0 0 4px antiquewhite, 0 0 8px antiquewhite, 0 0 16px antiquewhite;
        animation: moveUpDown 2s infinite;
        width: 15px;
        height: 40px;
        left:50%;
        bottom:3px;
    }
    .scroll-down-ball {
        position: static;
        left: 7.5px;
        bottom: 15px;
        animation: moveUpDown 2s infinite;
        width: 12px;
        height: 12px;
    }
    .proj-title {
        font-size: 1rem;
    }
    .proj-img {
        padding-top: 10px;
    }
    .proj-box {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .proj-box i{
        margin-right: 25px;
    }
    .button-container{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
    .social{
        display: flex;
        gap:20px;
    }
    .intro{
        padding-top: 40px;
    }
}

@media (max-width: 375px){
    .name{
        font-size: 55px;
    }
    .name-2{
        font-size: 35px;
    }
    .subtitle{
        font-size: 30px;
    }
    .social-button, .my-works {
        font-size: 14px;
        padding: 6px 14px;
    }
    .social-button i, .my-works i {
        font-size: 16px; 
    }
}

@media (max-width: 320px) {
    .name{
        font-size: 50px;
    }
    .name-2{
        font-size: 30px;
    }
    .subtitle{
        font-size: 25px;
    }
    .social-button, .my-works {
        font-size: 14px;
        padding: 6px 14px;
    }
    .scroll-down {
        position: absolute;
        left:50%;
    }
}