html,body{
    height: 100%;
    margin:0%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2b3a3d;
}
.nav-item{
    display: flex;
    gap: 25px;
}
.nav-button{
    background-color: #2b3a3d;
    border-color: #2b3a3d;
    border-width: 0px;
}
.nav-button:hover{
    text-decoration: none;
    color: antiquewhite;
    border-width: 1px;
    border-color: aquamarine;
}
.nav-link:hover{
    text-decoration: none;
    color: antiquewhite;
}
.nav-link{
    padding: auto;
    color: aliceblue;
    text-decoration: none;
}
.nav-name{
    margin-left: 10px;
    font-weight: bold;
}
.nav-toggle {
    display: none;
}
.nav-toggle-label {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.nav-toggle-label span {
    background-color: antiquewhite;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    transition: transform 0.3s;
}
.logo{
    color: antiquewhite;
}
.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4a6469;
    color: antiquewhite;
    height:100vh;
}
.resume{
    align-items: center;
    justify-content: center;
    font-weight:400;
}
.name{
    font-size:70px;
    color:antiquewhite
}
.name-2{
    font-size: 50px;
}
.icon-but{
    display: flex;
    align-items:center;
    background-color: antiquewhite;
    border-radius: 30%;
    border-color:  aquamarine;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    margin-inline: 10px;
    border-width: 5px;
    font-size: 30px;
}
.icon-but:hover{
    background-color: rgb(208, 189, 164);
}
.scroll-down{
    width:25px;
    height:60px;
    background-color: #4a6469;
    border-radius: 10px;
    border-width: 5px;
    border-color: aliceblue;
    border-style:ridge;
    position: absolute;
    box-shadow: 0px 0px 2px #70969e, 0 0 4px #70969e, 0 0 8px #70969e, 0 0 16px #70969e ;
    bottom: 30px;
    animation:moveUpDown 2s infinite;
}
.scroll-down-ball{
    width:15px;
    height:15px;
    background-color: #4a6469;
    border-radius: 50px;
    border-width: 2px;
    border-color: aliceblue;
    border-style:ridge;
    position: absolute;
    left: 7px;
    bottom: 15px;
    animation:moveUpDown 2s infinite;
}
.my-works{
    border-color: aquamarine;
    border-width: 5px;
    width: auto;
    background-color: antiquewhite;
    height: auto;
    justify-content: center;
    align-items: center;
}
.my-works:hover{
    background-color: rgb(208, 189, 164);
}
.shape{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img{
    height: auto;
    width: auto;
    max-height: max-content;
}
.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.about{
    background: #4a6469;
    padding-top: 150px;
    padding-bottom: 150px;
}
.about-text{
    color: antiquewhite;
}
.about-me{
    background-color: #2b3a3d;
    border-width: 1px;
    border-style:dotted;
    border-color: antiquewhite;
}
.tech-skills{
    background: #4a6469;
    justify-content: space-between;
    padding-bottom: 100px;
}
.lang{
    justify-content: center;
    align-items: center;
}
.lang-but{
    height:90px;
    width:90px;
    border-radius: 50%;
}
.lang-but:hover{
    background-color: antiquewhite;
}
.lang-name{
    color:antiquewhite;
    align-items: center;
    justify-content: center;
}
.langs{
    align-items: center;
    justify-content: center;
}
.vert-line{
    height:310px;
    width: 2px;
    background-color: antiquewhite;
}
.heading{
    color:antiquewhite;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 130px;
}
.image{
    position: relative;
    width: 100%;
    margin: auto;
}
.image .fore {
    position: absolute;
    top: -170px;
    left: 5px;
    z-index: 2;
}
.image .back {
    position: absolute;
    top: -170px;
    left: 0px;
    z-index: 1;
    opacity: 0;
    animation: fadeInBackground 10s forwards; 
    width:400px;
    height:auto;
    box-shadow: 0 0 10px 5px #5e7175;/*feedback?*/
    border-radius: inherit;
}
.proj{
    background-color: #4a6469;
}
.project-item{
    border-radius:10%;
    border: 2px solid antiquewhite;
    box-shadow: 10px 10px 10px 10px #5e7175;
    background-color: #2b3a3d;
    color:antiquewhite;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;

}
.proj-title{
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1.25rem; 
    margin-bottom: 15px;
}
.proj-box{
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 50%;
    border-color:  aquamarine;
    width: 60px;
    height: 60px;
    margin-inline: 10px;
    border-width: 5px;
    font-size: 40px;
}
.proj-box:hover{
    background-color: rgb(208, 189, 164);
}
.proj-img{
    padding-top: 15px;
    border: 2px solid #4a6469;
    width:100%; 
    height:auto;
}
.contact{
    background-color: #4a6469;
    padding-bottom: 100px;
}
.contact-form {
    border-radius: 10%;
    border: 2px solid antiquewhite;
    background-color: #2b3a3d;
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
    box-shadow: 0px 0px 4px #5e7175, 0 0 16px #5e7175, 0 0 64px #5e7175, 0 0 256px #5e7175 ;
}
.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #4a6469;
    color: antiquewhite;
}
.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: antiquewhite;
}
.contact-form button {
    background-color: #52a552;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}
.contact-form button:hover {
    background-color: #4cae4c;
    box-shadow: 0px 0px 2px #4cae4c, 0 0 4px #4cae4c, 0 0 8px #4cae4c, 0 0 16px #4cae4c;
}
.end{
    background-color: #2b3a3d;
    color: #2b3a3d;
}
.end-line{
    height: 2px; 
    margin: 3px 0; 
    color: aliceblue;
}
@keyframes moveUpDown {
    0%, 100% {
        transform: translateX(-50%) translateY(10px); 
    }
    50% {
        transform: translateX(-50%) translateY(-10px); 
    }
}
@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}
@media (max-width:1199px){
    .image .back {
        position: absolute;
        top: -173px;
        left: 0px;
        z-index: 1;
        opacity: 0;
        animation: fadeInBackground 10s forwards; 
        width:340px;
        height:auto;
        box-shadow: 0 0 10px 5px #5e7175;/*feedback?*/
        border-radius: inherit;
    }
    .vert-line{
        height:350px;
        width: 2px;
        background-color: antiquewhite;
    }
    .heading{
        color:antiquewhite;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 150px;
    }
}
@media (max-width:991px){
    .image .back {
        position: absolute;
        top: -131px;
        left: 0px;
        z-index: 1;
        opacity: 0;
        animation: fadeInBackground 10s forwards; 
        width:255px;
        height:auto;
        box-shadow: 0 0 10px 5px #5e7175;/*feedback?*/
        border-radius: inherit;
    }
    .image .fore {
        position: absolute;
        top: -130px;
        left: 5px;
        z-index: 2;
    }
    .scroll-down{
        width:25px;
        height:60px;
        background-color: #4a6469;
        border-radius: 10px;
        border-width: 5px;
        border-color: aliceblue;
        border-style:ridge;
        position: absolute;
        right: 40px;
        box-shadow: 0px 0px 2px #70969e, 0 0 4px #70969e, 0 0 8px #70969e, 0 0 16px #70969e ;
        bottom: 10px;
        animation:moveUpDown 2s infinite;
    }
    .scroll-down-ball{
        width:15px;
        height:15px;
        background-color: #4a6469;
        border-radius: 50px;
        border-width: 2px;
        border-color: aliceblue;
        border-style:ridge;
        position: absolute;
        left: 7px;
        bottom: 15px;
        animation:moveUpDown 2s infinite;
    }
    .vert-line{
        height:450px;
        width: 2px;
        background-color: antiquewhite;
    }
    .heading{
        color:antiquewhite;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 200px;
    }
    .proj-img.col-md-12{
        padding-top: 15px;
        border: 2px solid #4a6469;
        justify-content: center;
        align-items: center;
        width:100%; 
        height:30%;
    }
}
@media (max-width:767px){
    .image .back {
        position: absolute;
        top: -111px;
        left: 40px;
        z-index: 1;
        opacity: 0;
        animation: fadeInBackground 10s forwards; 
        width:191px;
        height:auto;
        box-shadow: 0 0 10px 5px #5e7175;/*feedback?*/
        border-radius: inherit;
    }
    .image .fore {
        position: absolute;
        top: -110px;
        left: 45px;
        z-index: 2;
    }
    .nav-item {
        position:absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #2b3a3d;
        flex-direction: column;
        align-items: center;
        display: none;
        z-index: 999;
        border-style:dotted;
        border-color: antiquewhite;
        border-width: 1px;
    }
    .nav-toggle:checked ~ .nav-item {
        display: flex;
    }
    .nav-item button {
        width: 100%;
    }
    .nav-toggle:checked + .nav-toggle-label + .nav-item {
        display: flex;
    }
    .nav-toggle-label {
        display: flex;
        padding-right:20px;
        padding-top: 10px;
    }
    .scroll-down{
        width:25px;
        height:60px;
        background-color: #4a6469;
        border-radius: 10px;
        border-width: 5px;
        border-color: aliceblue;
        border-style:ridge;
        position: absolute;
        right: 40px;
        box-shadow: 0px 0px 2px #70969e, 0 0 4px #70969e, 0 0 8px #70969e, 0 0 16px #70969e ;
        bottom: 30px;
        animation:moveUpDown 2s infinite;
    }
    .scroll-down-ball{
        width:15px;
        height:15px;
        background-color: #4a6469;
        border-radius: 50px;
        border-width: 2px;
        border-color: aliceblue;
        border-style:ridge;
        position: absolute;
        left: 7px;
        bottom: 15px;
        animation:moveUpDown 2s infinite;
    }
    .vert-line{
        display: none;
    }
    .heading{
        color:antiquewhite;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 80px;
    }
    .about-text{
        padding-top: 20px;
        text-align: center;
    }
    .proj-img.col-md-12{
        padding-top: 15px;
        border: 2px solid #4a6469;
        justify-content: center;
        align-items: center;
        width:100%; 
        height:55%;
    }
    .proj-row{
        gap:20px;
    }
    .proj-box{
        display:flex;
        align-items:center;
        justify-content: center;
        background-color: antiquewhite;
        border-radius: 50%;
        border-color:  aquamarine;
        width: 60px;
        height: 60px;
        margin-inline: 10px;
        border-width: 5px;
        font-size: 40px;
        margin-bottom: 10px;
    }
    .proj-link{
        display: block;
        width: 60px;
        height: 60px;
    }
}
@media (max-width:575px){
    .image .back {
        position: absolute;
        top: 48px;
        left: 195px;
        z-index: 1;
        opacity: 0;
        animation: fadeInBackground 10s forwards; 
        width:191px;
        height:auto;
        box-shadow: 0 0 10px 5px #5e7175;/*feedback?*/
        border-radius: inherit;
    }
    .image .fore {
        position: absolute;
        top: 30px;
        left: 195px;
        z-index: 2;
        width: 150px;
    }
    .scroll-down{
        width:25px;
        height:60px;
        background-color: #4a6469;
        border-radius: 10px;
        border-width: 5px;
        border-color: aliceblue;
        border-style:ridge;
        position: absolute;
        right: 20px;
        box-shadow: 0px 0px 2px #70969e, 0 0 4px #70969e, 0 0 8px #70969e, 0 0 16px #70969e ;
        bottom: -120px;
        animation:moveUpDown 2s infinite;
    }
    .scroll-down-ball{
        width:15px;
        height:15px;
        background-color: #4a6469;
        border-radius: 50px;
        border-width: 2px;
        border-color: aliceblue;
        border-style:ridge;
        position: absolute;
        left: 7px;
        bottom: 15px;
        animation:moveUpDown 2s infinite;
    }
    .proj-title {
        font-size: 1rem; 
    }

    .proj-img {
        padding-top: 10px; 
    }

    .proj-box {
        width: 50px; 
        height: 50px; 
        font-size: 30px; 
    }
}

