html, body {
    height: 100%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4c7766;
    position: sticky;
    top:0px;
    z-index: 100;
}

.nav-item {
    display: flex;
    gap: 25px;
}

.nav-button {
    background-color: #4c7766;
    border-width: 0px;
    padding-left: 1px;
    padding-right: 1px;
}

.nav-button:hover {
    text-decoration: none;
    color: #ebe6e0;
    border-width: 1px;
    border-color: aquamarine;
}

.nav-link:hover {
    text-decoration: none;
    color: antiquewhite;
}

.nav-link {
    padding: auto;
    color: aliceblue;
    text-decoration: none;
    padding-left: 1px;
    padding-right: 1px;
}

.nav-name {
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.nav-toggle-label span {
    background-color: #ebe6e0;
    width: 25px;
    height: 3px;
    margin-bottom: 5px;
    transition: transform 0.3s;
}

.logo {
    color: #ebe6e0;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ebe6e0;
    color: #4c7766;
    height: 100vh;
}

.resume {
    align-items: center;
    justify-content: center;
    font-weight:bold;
    text-align: center;
}

.name {
    font-size: 70px;
    color: #4c7766;
    font-family: "Copperplate", fantasy;
}

.name-2 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

/*responsive?/*/

.subtitle {
    font-size: 35px;
    font-weight: 300;
    font-family:'Poppins', sans-serif;
    color: #4c7766;
    padding-bottom: 40px;
    animation: changeWords 12s infinite;
    opacity: 0;
    position: absolute;
}

.heads{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    position: relative;
    padding-top: 60px;
    padding-bottom: 30px;
}

.subtitle:nth-child(1) {
    animation-delay: 0s;
}
.subtitle:nth-child(2) {
    animation-delay: 4s;
}
.subtitle:nth-child(3) {
    animation-delay: 8s;
}
@keyframes changeWords {
    0%, 50%{
      opacity: 0;
    }
    10% {
      opacity: 1;
    }
  }
.name .letter {
    display: inline-block;
    opacity: 0;
    animation: scroll-in 0.5s forwards;
}

@keyframes scroll-in {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.name .letter:nth-child(1) { animation-delay: 0s; }
.name .letter:nth-child(2) { animation-delay: 0.1s; }
.name .letter:nth-child(3) { animation-delay: 0.2s; }
.name .letter:nth-child(4) { animation-delay: 0.3s; }
.name .letter:nth-child(5) { animation-delay: 0.4s; }
.name .letter:nth-child(6) { animation-delay: 0.5s; }
.name .letter:nth-child(7) { animation-delay: 0.6s; }
.name .letter:nth-child(8) { animation-delay: 0.7s; }
.name .letter:nth-child(9) { animation-delay: 0.8s; }
.name .letter:nth-child(10) { animation-delay: 0.9s; }
.name .letter:nth-child(11) { animation-delay: 1s; }

.icon-but {
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    color: #4c7766;
    border-radius: 30%;
    border-color: #4c7766;
    justify-content: space-between;
    width: 50px;
    height: 50px;
    margin-inline: 10px;
    border-width: 5px;
    font-size: 30px;
}

.icon-but:hover {
    background-color: rgb(208, 189, 164);
}

.scroll-down {
    width: 25px;
    height: 60px;
    background-color: #ebe6e0;
    border-radius: 20px;
    border-width: 5px;
    border-color: #4c7766;
    border-style:ridge;
    position: absolute;
    box-shadow: 0px 0px 2px antiquewhite, 0 0 4px antiquewhite, 0 0 8px antiquewhite, 0 0 16px antiquewhite;
    bottom: 30px;
    animation: moveUpDown 2s infinite;
}

.scroll-down-ball {
    width: 15px;
    height: 15px;
    background-color: #ebe6e0;
    border-radius: 50px;
    border-width: 4px;
    border-color: #4c7766;
    border-style:ridge;
    position: absolute;
    left: 7.5px;
    bottom: 15px;
    animation: moveUpDown 2s infinite; /*copy this styling for all sizes*/
}

.my-works {
    border-color: #4c7766;
    border-radius: 25%;
    border-width: 5px;
    width: auto;
    color: #4c7766;
    background-color: antiquewhite;
    height: 50px;
    display: flex;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-works:hover {
    background-color: rgb(208, 189, 164);
}

.img {
    height: auto;
    width: auto;
    max-height: max-content;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.about {
    background: #ebe6e0;
    padding-top: 150px;
    padding-bottom: 150px;
}

.about-text {
    color: #4c7766;
    font-weight: 500;
}

.about-me {
    background-color: #4c7766;
    border-width: 1px;
    border-style: dotted;
    border-color: #ebe6e0;
}

.tech-skills {
    background: #ebe6e0;
    justify-content: space-between;
    padding-bottom: 100px;
}

.lang-but {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border-color: #4c7766;
    background-color: white;
}

.lang-but:hover {
    background-color: antiquewhite;
    cursor: default;
}

.lang-name {
    color: #4c7766;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.langs {
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}

.vert-line {
    height: 310px;
    width: 2px;
    background-color: turquoise;
}

.heading-about {
    color: #ebe6e0;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 130px;
}

.heading {
    color: #4c7766;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 130px;
}

.image {
    position: relative;
    width: 100%;
    margin: auto;
}

.image .fore {
    position: relative; /*make relative*/
    border-width: 15px;
    border-style: ridge;
    align-items: center;
    border-radius: 10%;
    background: linear-gradient(145deg, #fbf6f0, #d4cfca);
    box-shadow:  21px 21px 54px #b0ada8,
                 -21px -21px 54px #ffffff;
}


.proj {
    background-color: #ebe6e0;
}

.project-item {
    border-radius: 10%;
    border: 2px solid antiquewhite;
    box-shadow: 10px 10px 10px 10px #8bb4a3;
    background-color: #4c7766;
    color: #ebe6e0;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    overflow: hidden;
    position: relative; 
}

.proj-title {
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.proj-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    border-radius: 50%;
    border-color: #4c7766;
    width: 60px;
    height: 60px;
    margin-inline: 10px;
    border-width: 5px;
    font-size: 40px;
    position: relative;
    /*left: 50%;
    bottom: 20px;
    transform: translateX(-50%);*/
    opacity: 0;
}
.proj-box i {
    color: #4c7766; 
    margin-right: 35px;
}
.proj-box:hover {
    background-color: rgb(208, 189, 164);
}

.proj-img {
    padding-top: 15px;
    border: 2px solid #6fac94;
    width: 100%;
    height: auto;
}

.proj-link:hover .proj-box {
    opacity: 1;
}

.project-item:hover .proj-box {
    opacity: 1;
}

.hover-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.6 );
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );   
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    color: aliceblue;
    font-weight: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.project-item:hover .hover-content {
    opacity: 1;
}

.hover-material:hover {
    display: block;
}

.contact {
    background-color: #ebe6e0;
    padding-bottom: 100px;
}

.contact-form {
    border-radius: 10%;
    border: 2px solid #91d7bb;
    background-color: #4c7766;
    color: #ebe6e0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 30px;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #72a28f;
    color: antiquewhite;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: antiquewhite;
}

.contact-form button {
    background-color: #52a552;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #4cae4c;
    box-shadow: 0px 0px 2px #4cae4c, 0 0 4px #4cae4c, 0 0 8px #4cae4c, 0 0 16px #4cae4c;
}

.end {
    background-color: #4c7766;
    color: #4c7766;
}

.end-line {
    height: 2px;
    margin: 3px 0;
    color: aliceblue;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateX(-50%) translateY(10px);
    }
    50% {
        transform: translateX(-50%) translateY(-10px);
    }
}

@keyframes fadeInBackground {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

@media (max-width: 1199px) {
    .vert-line {
        height: 350px;
        width: 2px;
        background-color: antiquewhite;
    }
    .heading {
        color: #4c7766;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 150px;
    }
}

@media (max-width: 991px) {
    
    .image .fore {
        position: absolute;
        top: -130px;
        left: 5px;
        z-index: 2;
    }
    .scroll-down {
        position: absolute;
        right: 40px;
        box-shadow: 0px 0px 2px #70969e, 0 0 4px #70969e, 0 0 8px #70969e, 0 0 16px #70969e;
        bottom: 10px;
        animation: moveUpDown 2s infinite;
    }
    .scroll-down-ball {
        position: absolute;
        left: 7px;
        bottom: 15px;
        animation: moveUpDown 2s infinite;
    }
    .vert-line {
        height: 450px;
        width: 2px;
        background-color: antiquewhite;
    }
    .heading {
        color: #4c7766;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 200px;
    }
    .proj-img.col-md-12 {
        padding-top: 15px;
        border: 2px solid #4a6469;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 30%;
    }
}

@media (max-width: 768px) {
    .scroll-down {
        position: absolute;
        right: 40px;
        bottom: 10px;
        animation: moveUpDown 2s infinite;
    }
    .scroll-down-ball {
        position: absolute;
        left: 7px;
        bottom: 15px;
        animation: moveUpDown 2s infinite;
    }
    /* ... */
    .image .fore {
        position: absolute;
        top: -110px;
        left: 45px;
        z-index: 2;
    }
    .nav-item {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #4c7766;
        flex-direction: column;
        align-items: center;
        display: none;
        z-index: 999;
        border-style: dotted;
        border-color: antiquewhite;
        border-width: 1px;
    }
    .nav-toggle:checked ~ .nav-item {
        display: flex;
    }
    .nav-item button {
        width: 100%;
    }
    .nav-toggle:checked + .nav-toggle-label + .nav-item {
        display: flex;
    }
    .nav-toggle-label {
        display: flex;
        padding-right: 20px;
        padding-top: 10px;
    }
    .vert-line {
        display: none;
    }
    .heading {
        color: #4c7766;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
        padding-top: 80px;
    }
    .about-text {
        padding-top: 20px;
        text-align: center;
    }
    .proj-img.col-md-12 {
        padding-top: 85px;
        border: 2px solid #4a6469;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 55%;
    }
    .proj-row {
        gap: 20px;
    }
    .proj-box {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: antiquewhite;
        border-radius: 50%;
        border-color: aquamarine;
        width: 60px;
        height: 60px;
        margin-inline: 10px;
        border-width: 5px;
        font-size: 40px;
        margin-bottom: 10px;
    }
    .proj-link {
        display: block;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 425px) {
    .image {
        display: none;
    }
    .scroll-down {
        position: absolute;
        right: 20px;
        box-shadow: 0px 0px 2px #70969e, 0 0 4px #70969e, 0 0 8px #70969e, 0 0 16px #70969e;
        bottom: -120px;
        animation: moveUpDown 2s infinite;
    }
    .scroll-down-ball {
        position: absolute;
        left: 7px;
        bottom: 15px;
        animation: moveUpDown 2s infinite;
    }
    .proj-title {
        font-size: 1rem;
    }
    .proj-img {
        padding-top: 10px;
    }
    .proj-box {
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .proj-box i{
        margin-right: 25px;
    }
}
